
*.o
*.dll
*.so
Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/lld
Library/ArtifactDB
Library/ArtifactDB
Library/Artifacts/04/048f2813caf404054a7136e55d78d6bf
Library/Artifacts/35/354c03cc27a2c220e4b2258b4a778413
Library/Artifacts/46/46e480997ecdc2a72f7038cb14463fc8
Library/Artifacts/48/48ac260389203e904a2ee2291a67226d
Library/Artifacts/6d/6d45fe50f9833e535859c516b4b821b3
Library/Artifacts/95/95b4476e75ba7c6ecfaf5c14ab78360b
Library/Artifacts/99/99675c095ca918661fc0fbb431ddb1d5
Library/Artifacts/a9/a9e21e61ad20d48020d0480d3615c0be
Library/Artifacts/ac/ac2188261f570f64b14a217897337461
Library/Artifacts/b3/b349d4092955d5be02c60768475f1765
Library/Artifacts/d2/d2e587e5b6c625fae1a2add4bdfc1c8a
Library/Artifacts/f4/f45604d09158ecc6367491d3ccb88c4f
Library/ArtifactDB
Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp.pdb
Library/Bee/artifacts/1300b0aE.dag/post-processed/Assembly-CSharp.pdb
Library/Bee/backend_profiler0.traceevents
Library/Bee/fullprofile.json
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/TundraBuildState.state
Library/EditorInstance.json
Library/LastSceneManagerSetup.txt
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/Search/transactions.db
Library/SourceAssetDB
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
Temp/__Backupscenes/0.backup
Temp/FSTimeGet-378eb03629231f144b808c19b7b9c14f
Temp/FSTimeGet-41d2c14857573e54fbe8bb2c4a1b6177
Temp/FSTimeGet-6f82d6414bc766e47a4bb51588ddb080
Temp/UnityLockfile
Temp/workerlic
Library/ArtifactDB
